.form {
    width: 95%;
    margin: 30px auto;
}

mat-form-field {
    display: block;
}

.mat-input-element {
    color: #fff;
}

.mat-button .mat-button-focus-overlay {
    opacity: .04 !important;
}

@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}